


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<nav class="navbar" style="  list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #f3f3f3;">
     <ul>
        <li style="
            display: block;
            color: #666;
            text-align: center;
            font-size: x-large;
            text-decoration: none;">contact us</li>
    </ul>
</nav>
   
    <p style="font-size: x-large; text-align: center; padding-top: 2cm;">Email: azar.library99@gmail.com</p>
    <p style="font-size: x-large; text-align: center;">tel: +992 930 550 665</p>
</head>
<body>
    
</body>
</html>